body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 140%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    line-height: 120%;
    text-decoration: none;
}

li {
    list-style-type: none;
}